@using WebAPIAutores.Entities
@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<WebAPIAutores.Entities.Book>


<div class="text-center">
    <h1 class="display-4">Books</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {  
                @foreach (var book in Model)
                {
                    <tr>
                        <td>@book.Title</td>
                        <td>@book.Author.Name</td>
                        <td>
                            <a href="@Url.Action("Edit", "Books", new { id = book.Id })">Edit</a> |
                            <a href="@Url.Action("Delete", "Books", new { id = book.Id })">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <p>No data available to display.</p>
            }
        </tbody>
    </table>
    <a href="@Url.Action("Create", "Books")">Add New Book</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<partial name="_ValidationScriptsPartial" />